.strength-indicator {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: gray; /* Default color */
}

.weak {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.strong {
  background-color: green;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}