<section class="w-screen h-screen flex justify-center items-center flex-col">
  <div class="mb-5 w-96">
    <label
      for="empasswordInputail"
      class="block mb-2 font-bold text-gray-900 dark:text-white text-2xl"
      >Password Checker</label
    >
    <input
      (input)="calculateStrength(password)"
      [(ngModel)]="password"
      type="text"
      id="passwordInput"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter password"
      required
    />
  </div>
  <div class="text-white py-5">{{ displayStatusPassword }}</div>
  <div class="flex justify-center items-center gap-2">
    <div
      *ngFor="let item of sectionColors"
      class="section w-24 h-5"
      [style.backgroundColor]="item"
    ></div>
  </div>
</section>
